name: Pull Request

# master pr
on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  # TEst and build the code
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run tests
        run: go test ./... -v
        
      - name: Build project
        run: go build -v ./...
